@*2. create teh view*@
@* I don't have to create a new model becuase one already exists*@
@model Country
@{
    ViewData["Title"] = "CreateCountry";
}

<h2>CreateCountry</h2>

@*3. create the form for the country fields*@
<form asp-controller="Day2" asp-action="CreateCountry" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <label asp-for="Continent"></label>
    <input asp-for="Continent" />
    <label asp-for="HeadOfState"></label>
    <input asp-for="HeadOfState" />

    <input type="submit" value="MAKE ME A COUNTRY" />
</form>
