<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/updated_style.css" rel="stylesheet" />
</head>
<body>
    <nav>
        <ul>
            <li> <a asp-controller="Home" asp-action="Index">Just display value</a></li>
            <li> <a asp-controller="Home" asp-action="Greeting" asp-route-name="Katie">Greeting</a></li>
            <li> <a asp-controller="Calculator" asp-action="ConversionTable" asp-route-max="200">Calculator</a></li>
        </ul>
    </nav>
    @RenderBody()
</body>
</html>
