html * {
  margin: 0;
  padding: 0;
}
#slug_1 {
  background-color: #ECA008;
  padding: 50px;
  margin: 0;
  border: 3px solid black;
}
#slug_2 {
  background-color: #ECA008;
  padding: 0px;
  margin: 75px;
  border: 20px solid black;
}

* {
  border: 2px solid red;
}

h1 {
  background-color: aqua;
  
  text-decoration: wavy;
}