
@{
    ViewData["Title"] = "Calculator";
    int max = Convert.ToInt32(ViewData["max"]);
}

<h2>Calculator</h2>

<!-- show conversion of metric to imperial for 0 to 1000  km/h by 15-->
<table>
    <thead>
        <tr>
            <th> Metric </th>
            <th> Imperial</th>
        </tr>
    </thead>

    <tbody>
        @for (int i=0; i<=max; i+=15)
        {
            <tr>
                <td> @i km/h</td>
                <td> @((int)(i*0.62)) mph</td>
            </tr>
        }
    </tbody>
</table>