@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form asp-controller="Users" asp-action="LoginConfirmation" method="post">

    <div>
        <label asp-for="Email"></label>
    </div>
    <div>
        <input asp-for="Email" placeholder=" enter email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
    </div>
    <div>
        <input asp-for="Password" placeholder=" enter password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input class="submit" type="submit" value="Submit" />
    </div>
</form>


