@{
    ViewData["Title"] = "Fibonacci";
    int max = Convert.ToInt32(ViewData["max"]);
}


<nav id="page-options">
    <ul>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="20">20</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="50">50</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="100">100</a></li>
    </ul>
</nav>



<ul id="fibonacci">

    @{ 
        int i = 2;
        int val1 = 0;
        int val2 = 1;
    }
    
    @while (i <= max)
    {
        
        if (val2 >= max)
        {
            <li>@val1</li>
            break;
        }
        <li>@val1</li>
        int sumOfTwoBefore = val1 + val2;
        val1 = val2;
        val2 = sumOfTwoBefore;
        ++i;


    }



</ul>



            