a {
  margin: 10px;
  padding: 10px;
  background-color: #eee;
  width: 350px; 
  display: inline-block;
 
}
p {
  width: 350px;
  background-color: #eee;
}
.block {
  width: 350px;
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  width: 180px; margin: 0px; padding: 0px; border: 0px;
  background: #eee;
  display: inline-block;
}
.inline-block-vertical-align-top {
  width: 180px; margin: 10px; padding: 20px;
  background: #eee;
  display: inline-block;
  vertical-align: top;
}
