/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 500px;
    margin: 8px 0;
    border-radius: 3px;
    width: 250px;
    margin-bottom: 16px;
}
label {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.submit {
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    width: 80px;
}

.field-validation-error {
    color: #ED4337;
    font-weight: bold;
}



