@model Review 
@{
    ViewData["Title"] = "NewReview";
}

<h2>New Book Review</h2>

<form asp-controller="Home" asp-action="NewReview" method="post">
    <div>
        <label asp-for="UserName"></label>
        <input type="text" required asp-for="UserName" />
    </div>
    <div>
        <label asp-for="Rating"></label>
        <input type="number" max="5" min="1" required asp-for="Rating" />
    </div>
    <div>
        <label asp-for="ReviewTitle"></label>
        <input type="text" required asp-for="ReviewTitle" />
    </div>
    <div>
        <label asp-for="ReviewContent"></label>
        <input type="text" required asp-for="ReviewContent" />

        <input type="submit" value="Submit!" />
    </div>
</form>

